@import '../abstracts/include';

.partners {
  cursor: default;
  &__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    filter: blur(0);
    transition: filter 0.6s ease-in-out;
  }

  &__wrapper {
    position: relative;
    &:hover {
      .partners {
        &__items {
          filter: blur(14px);
        }
        &__info {
          opacity: 1;
        }
      }
    }
  }

  &__info {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
    font-weight: 600;
    color: color(typography, 1);
    z-index: 2;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
  }

  &__title {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 14px;
  }
}

.partner {
  width: 100%;
  filter: invert(1);
  @include media('<tablet') {
    max-width: 140px;
  }

  &--alt {
    filter: invert(0);
  }

  &__wrapper {
    width: 152px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media('<large') {
      width: 135px;
    }

    @include media('<tablet-lg') {
      width: 110px;
    }

    @include media('<tablet') {
      width: calc(100% / 3 - 10px);
    }
  }
}
