// Font-size + Line-height + Kerning
// Usage: @include font-size(1, mobile)
// Add more true/false args to control what to output: font-size, line-height, kerning
@mixin font-size($size, $elem, $font-size: true, $line-height: false, $kerning: false, $adjust-font-size: 0) {
  @if not map-has-key(map-get($font__scale, $elem), $size) {
    @warn "'#{$size}' key does not exist in array!";
  }
  @if ($font-size != false) {
    font-size: get-font-size($size, $elem) + $adjust-font-size;
  }
  @if ($line-height == true) {
    line-height: get-line-height($size, $elem);
  }
  @if ($kerning == true) {
    letter-spacing: get-kerning($size, $elem);
  }
}

// Font Family
@mixin font-family($elem) {
  font-family: unquote(get-font-family($elem));
}

// Font Weight
@mixin font-weight($elem) {
  font-weight: get-font-weight($elem);
}
