// --------------------------------------------
// Colors -------------------------------------
// Usage example: color(primary, main)
// --------------------------------------------

// Fonts
$main-font: "'Archia', serif";
$secondary-font: "'Marcellus', sans-serif";

$color: (
  base: (
    white: #fff,
    black: #000000,
    red: #fe302a,
  ),
  grey: (
    regular: rgb(128, 128, 128),
    dark: #141414,
    darker: rgb(18, 18, 18),
  ),
  gradients: (
    default: linear-gradient(90deg, rgba(20, 20, 20, 0) 0%, rgba(20, 20, 20, 0.8) 8.33%, rgba(20, 20, 20, 0.8) 49.96%, rgba(20, 20, 20, 0.8) 92.71%, rgba(20, 20, 20, 0) 100%),
  ),
);

// --------------------------------------------
// Typography ---------------------------------
// --------------------------------------------
$font__family: (
  base: $main-font,
  // font-family(base)
    heading: $secondary-font,
  // font-family(heading)
    code: '"Surce Code Pro", Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace',
  // font-family(code)
    pre: '"Courier 10 Pitch", Courier, monospace' // font-family(pre),,,,,,,,
);

$font__sizes: (
	h1:   ( 56px, 60px, -0.98px ), // font-size, line-height, kerning (use '0' if don't want to output any kerning)
	h2:   ( 48px, 52px, -0.98px ),
	h3:   ( 36px, 46px, -1px ), // T1
	h4:   ( 29px, 36px, -1.04px ), // H4 / t2
	h5:   ( 25px, 25px, -0.9px ), // H5
	h6:   ( 16px, 22px, -0.2px ), // H6
	t3: 	( 23px, 35px, -0.88px ), // T3
	t4:   ( 16px, 24px, auto ), // Default T4
	t5:   ( 14px, 18px, -0.81px ),
	caps: ( 16px, 1em, 1.4px),
	lightcaps:  ( 13px, initial, 2.1px ),
);

$font__scale: (
  desktop: (
    // i.e. $breakpoint__m + $breakpoint__l (600 - 1024)
      1: map-get($font__sizes, h1),
    // H1
      2: map-get($font__sizes, h2),
    // H2
      3: map-get($font__sizes, h3),
    // H3
      4: map-get($font__sizes, h4),
    // H4, H5, H6
      5: map-get($font__sizes, h5),
    // H4, H5, H6
      6: map-get($font__sizes, h6),
    // H4, H5, H6
      7: map-get($font__sizes, t3),
    // Text large
      8: map-get($font__sizes, t4),
    // Text default
      9: map-get($font__sizes, t5),
    // Text smaller
      10: map-get($font__sizes, caps),
    // caps
      11: map-get($font__sizes, lightcaps),
    // lightcaps,,,,,,,,
  ),
  mobile: (
    // i.e. $breakpoint__xs + $breakpoint__s (up to 600)
      1: map-get($font__sizes, h2),
    // H1
      2: map-get($font__sizes, h3),
    // H2
      3: map-get($font__sizes, h4),
    // H3
      4: map-get($font__sizes, h5),
    // H4, H5, H6
      5: map-get($font__sizes, h6),
    // H4, H5, H6
      6: map-get($font__sizes, t3),
    // H4, H5, H6
      7: map-get($font__sizes, t4),
    // Text large
      8: map-get($font__sizes, t4),
    // Text default
      9: map-get($font__sizes, t5),
    // Text smaller
      10: map-get($font__sizes, caps),
    // caps
      11: map-get($font__sizes, lightcaps),
    // lightcaps,,,,,,,,
  ),
);

$font__weight: (
  thin: 200,
  light: 300,
  regular: 400,
  // font__weight(regular)
    medium: 500,
  // font__weight(medium)
    semibold: 600,
  // font__weight(semi-bold)
    bold: 700,
  // font__weight(bold)
    xbold: 900,
);

// --------------------------------------------
// Structure ----------------------------------
// --------------------------------------------
$content__padding: (
  mobile: 16px,
  desktop: 24px,
);

$main-wrapper-width: 1920px;
$container__width-full: 1920px;
$container__width-lg: 1650px;
$container__width: 1310px;
$container__width-sm: 1100px;

// Breakpoints
$break-sm-down: 576px;
$break-md-down: 768px;
$break-md-up: 769px;
$break-lg-down: 992px;
