@import '../abstracts/include';
@import '../base/typography';

.article {
  &__title {
    max-width: 900px;
    margin: 55px auto 35px;
    @include media('>tablet-lg') {
      margin: 95px auto 35px;
    }
  }

  &__image {
    width: 100%;
    max-height: 650px;
    max-width: 1920px;
    margin: 0 auto;
    object-fit: cover;
  }

  &__body {
    max-width: 900px;
    margin: 0 auto;

    img {
      margin: 0 auto;
    }

    @include font-size(7, mobile, true, true, true);
    @if (get-font-size(7, desktop) != get-font-size(7, mobile)) {
      @include media('>medium') {
        @include font-size(7, desktop, true, true, true);
      }
    }

    p {
      margin-bottom: 32px;
    }

    p,
    li {
      @include font-size(7, mobile, true, true, true);
      @if (get-font-size(7, desktop) != get-font-size(7, mobile)) {
        @include media('>medium') {
          @include font-size(7, desktop, true, true, true);
        }
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 55px !important;
    }

    h1 {
      @include font-size(2, mobile, true, true, true);
      @if (get-font-size(2, desktop) != get-font-size(1, mobile)) {
        @include media('>medium') {
          @include font-size(2, desktop, true, true, true);
        }
      }
    }

    h2 {
      @include font-size(3, mobile, true, true, true);
      @if (get-font-size(3, desktop) != get-font-size(3, mobile)) {
        @include media('>medium') {
          @include font-size(3, desktop, true, true, true);
        }
      }
    }

    h3,
    blockquote {
      @include font-size(4, mobile, true, true, true);
      @if (get-font-size(4, desktop) != get-font-size(3, mobile)) {
        @include media('>medium') {
          @include font-size(4, desktop, true, true, true);
        }
      }
    }

    h4 {
      @include font-size(5, mobile, true, true, true);
      @if (get-font-size(5, desktop) != get-font-size(5, mobile)) {
        @include media('>medium') {
          @include font-size(5, desktop, true, true, true);
        }
      }
    }

    h5 {
      @include font-size(6, mobile, true, true, true);
      @if (get-font-size(6, desktop) != get-font-size(6, mobile)) {
        @include media('>medium') {
          @include font-size(6, desktop, true, true, true);
        }
      }
    }

    h6 {
      @include font-size(6, mobile, true, true, true);
      @if (get-font-size(6, desktop) != get-font-size(6, mobile)) {
        @include media('>medium') {
          @include font-size(6, desktop, true, true, true);
        }
      }
    }
  }

  &__comments {
    padding: 50px 0;
    max-width: 925px;
    margin: 40px auto 0;
  }
}
