@import "../abstracts/include";
@import "../base/typography";

.blog {
  &__hero {
    display: flex;
    flex-wrap: wrap;
    &__left {
      width: 40%;
      flex-shrink: 0;
      margin-right: 65px;
    }

    &__right {
      width: calc(100% - 40% - 65px);
      display: flex;
      flex-direction: column;
    }

    @include media ('<tablet') {
      &__left,
      &__right {
        width: 100%;
      }

      &__left {
        margin: 0 0 20px;
      }
    }
  }

  &__feed {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 -15px;
  }

  &__load-more {
    display: block;
    width: 100%;
    flex-shrink: 0;
    flex-grow: 1;
    text-align: center;
    padding: 25px 0;
  }

  &__chunk {
    display: flex;
    margin: 0 -15px;
    justify-content: space-between;
    &__single {
      width: calc(50% - 15px);
      margin: 15px 0;
      display: flex;
      flex-direction: column;
      .Post {
        display: flex;
        flex-direction: column;
        flex: 1;
        &__image {
          flex-grow: 1;
        }
        &__title {
          @extend .title-4;
        }
      }
    }
    &__multiple {
      width: calc(50% - 15px);
      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px;

      .Post {
        margin: 15px;
        width: calc(50% - 30px);
        &__excerpt {
          height: 80px;
          overflow: hidden;
          position: relative;
        }
      }
    }

    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }
}

.separator {
  width: 100%;
  height: 1px;
  display: block;
  background-color: color(bg, 5);
  &::before {
    content: '';
    display: block;
    height: 4px;
    width: 65px;
    background-color: color(primary, 1);
  }
}
