@import '../abstracts/include';

.service-hero {
  display: flex;
  flex-wrap: wrap;

  &__content {
    width: 47%;
    margin-right: 50px;
    position: relative;
    z-index: 2;
    @include media('>=tablet') {
      padding: 60px 0;
    }
  }

  &__image {
    width: calc(100% - 57% - 50px) !important;
    height: auto !important;
    display: block;
    overflow: visible !important;
    flex-shrink: 0;
    position: relative !important;
    img {
      position: absolute !important;
      width: 50vw !important;
      top: 50% !important;
      transform: translateY(-50%);
      max-height: 100%;
      object-fit: contain !important;
      max-width: 900px;
    }
  }

  @include media('<tablet') {
    flex-direction: column-reverse;
    &__content {
      width: 100%;
      margin-right: 0;
      margin-top: 30px;
    }

    &__image {
      margin-bottom: 15px !important;
      width: 100% !important;
      min-height: 250px;
      img {
        width: 100% !important;
        height: auto !important;
      }
    }
  }
}

.service-form {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .send {
    margin-left: 10px;
  }
  @include media('<small') {
    flex-direction: column;
    .send {
      width: 100%;
      margin: 10px 0 0;
    }
  }
}

.image-grid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  @include media('<tablet-lg') {
    height: 600px;
  }

  @include media('<tablet') {
    height: 450px;
  }

  @include media('<medium') {
    height: 380px;
  }
  &-item {
    width: calc(100% - 10px);
    height: 50%;
    margin: 5px;
    position: relative;
    overflow: hidden;
    & > div {
      display: none;
    }
    img {
      height: 100%;
      width: 100%;
      position: absolute;
      object-fit: cover;
      object-position: center;
    }

    &--small {
      width: calc(50% - 10px);
    }
  }
}

.cols-50 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;

  &--contact {
    flex-wrap: wrap;
  }
}

.col-50 {
  width: calc(100% / 2 - 75px / 2);
  @include media('<tablet') {
    width: 100%;
  }
}

.perks {
  padding: 10px 0;
  @include media('<tablet') {
    display: flex;
    flex-wrap: wrap;
  }
}

.perk {
  padding: 35px 0;
  &__title {
    margin-top: 0;
  }

  &__content {
    padding: 0 20px 0 0;
  }

  @include media('<tablet') {
    width: calc(100% / 2);
  }

  @include media('<medium') {
    width: 100%;
  }
}

.testimonials__feed {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  .Testimonial {
    @include media('<tablet') {
      width: calc(100% / 2 - 20px);
      margin: 0 10px 10px;
    }

    @include media('<medium') {
      width: 100%;
      margin: 0 15px 25px;
    }
  }
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin: 70px -15px 49px;
  @include media('<tablet') {
    margin-top: 30px;
    margin-bottom: 0;
  }

  .project {
    margin: 0 15px;
    width: calc(100% / 4 - 30px);
    @include media('<tablet') {
      width: calc(100% / 2 - 30px);
    }

    @include media('<medium') {
      width: 100%;
    }
  }
}
