@tailwind base;
@tailwind components;

@import 'base/typography';

@import 'common/global';
@import 'common/fonts';
@import 'common/buttons';
@import 'common/forms';
@import 'common/buttons';

@import 'layout/footer';
@import 'layout/navigation';

@import 'pages/page';

@import 'base/helpers';

@tailwind utilities;
