.btn {
  white-space: pre-wrap;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  outline: none;

  &:hover {
    text-decoration: none;
  }

  &--rounded {
    border-radius: 100px;
  }

  &--icon {
    display: inline-flex;
    align-items: center;
    svg {
      margin-left: 11px;
    }
  }

  &--standard {
    border: 2px solid $mr-dark;
    color: $mr-dark;
    padding: 5px 25px;
    font-size: 15px;
    border-radius: 0;
    font-weight: 600;
    text-align: center;
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
    &:hover {
      background-color: $mr-dark;
      color: $mr-white;
    }

    &:active {
      background-color: $mr-dark;
      color: $mr-white;
      transform: scale(0.95);
    }

    &-large {
      padding: 10px 30px;
      font-size: 1.2rem;
    }
  }

  &-underlined {
    display: inline-block;
    cursor: pointer;
    position: relative;
    text-align: left;
    color: $mr-dark;
    letter-spacing: -0.03em;
    font-weight: 600;
    padding: 0;
    z-index: 2;
    &::after {
      content: '';
      display: block;
      width: 65%;
      height: 4px;
      background-color: $mr-yellow;
      left: 0;
      bottom: -3%;
      position: absolute;
      z-index: -1;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      color: inherit;
      position: relative;
      text-decoration: none;
      &::after {
        width: 82%;
        height: 100%;
        transform: rotate(0deg);
      }
    }

    &--large {
      @extend .text-lg;
    }
  }

  &--outline {
    border: 1px solid transparent;
    background-color: transparent;
    font-size: 1rem;
    padding: 8px 29px;
    font-weight: 600;
    @media screen and (max-width: $break-md-down) {
      padding: 9px 15px;
      font-size: 14px;
    }
  }

  &--green {
    border-color: $mr-green;
    border-radius: 0;
    color: $mr-green;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: $mr-white;
      background-color: $mr-green;
    }
  }

  &--yellow {
    background-color: $mr-yellow;
    color: $mr-dark;
    border-radius: 0;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: $mr-yellow;
      border-color: $mr-yellow;
      background-color: transparent;
    }
  }

  &--green-f {
    background: $mr-green;
    color: $mr-white;
    transition: all 0.3s ease-in-out;
    &:hover {
      background: transparent;
      color: $mr-green;
      border-color: $mr-green;
    }
  }

  &--blue {
    background: $mr-blue;
    color: $mr-white;
  }

  &--white {
    border-color: $mr-white;
    color: $mr-white;
    transition: all 0.3s ease-in-out;
    &:hover {
      background: $mr-white;
      color: $mr-dark;
    }
  }

  &--dark {
    border-color: color(bg, 4);
    color: color(typography, 1);
    transition: all 0.3s ease-in-out;
    &:hover {
      background: color(bg, 4);
      color: color(typography, 3);
    }
  }

  &--large {
    border-width: 3px;
    padding: 13px 30px;
    border-width: 3px;
    font-size: 1.2rem;
    font-weight: bold;
  }

  &--medium {
    font-size: 1rem;
    padding: 10px 29px;
    border-width: 2px;
    font-weight: 600;
    @media screen and (max-width: $break-md-down) {
      padding: 9px 15px;
      font-size: 14px;
    }
  }

  &--small {
    font-size: 0.8rem;
    padding: 7px 15px;
    @media screen and (max-width: $break-md-down) {
      font-weight: 300;
      font-size: 12px;
      padding: 5px 12px;
    }
  }

  &--inline-form {
    height: 48px;
  }

  &--nav {
    padding: 0;
    border-radius: 0;
    height: 17px;
    width: 37px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    position: relative;

    span {
      display: block;
      width: 100%;
      height: 2px;
      background-color: $mr-dark;
      border-radius: 1px;
      transition: color 0.4s ease-in-out;

      &:nth-child(2) {
        margin: 4px 0;
        width: 70%;
      }
    }

    &.btn--active {
      z-index: 100;
      span {
        background-color: $mr-white;
      }
    }

    @media screen and (min-width: $break-md-up) {
      display: none;
      visibility: hidden;
    }
  }
}
