@font-face {
  font-family: 'Wotfard';
  src: url('/fonts/Wotfard/wotfard-regular-webfont.eot');
  src: url('/fonts/Wotfard/wotfard-regular-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/Wotfard/wotfard-regular-webfont.woff2') format('woff2'),
    url('/fonts/Wotfard/wotfard-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
