@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

@font-face {
  font-family: 'Archia';
  src: url('/fonts/archia-regular-webfont.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
