.input,
.textarea {
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  max-width: 100%;
  width: 100%;
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;

  &::placeholder {
    // color: darken(color(bg, 3), 8%);
  }

  &::-ms-input-placeholder {
    // color: darken(color(bg, 3), 8%);
  }

  &:-ms-input-placeholder {
    // color: darken(color(bg, 3), 8%);
  }

  &:hover {
    // border-color: darken(color(primary, 1), 10%);
  }

  &:active,
  &:focus {
    outline: none;
    // border-color: color(primary, 1);
  }

  &[disabled] {
    cursor: not-allowed;
    // background-color: color(bg, 3);
    // border-color: color(bg, 3);
  }
}

.form-container {
  position: relative;
  overflow: hidden;
  &__status {
    display: block;
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
    opacity: 0;
    transition: opacity 0.4s ease, transform 0.4s ease;

    h1 {
      margin: 0;
      text-align: center;
    }

    &--active {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.label {
  @apply font-bold text-base;
  padding-left: 2px;
  margin-bottom: 4px;
}

.input {
  -moz-appearance: none;
  -webkit-appearance: none;
  line-height: 20px;
  padding: 13px 16px;
  height: 48px;
  box-shadow: none;

  .inline-input {
    display: inline;
  }
}

.textarea {
  display: block;
  min-width: 100%;
  min-height: 200px;
  resize: vertical;
  padding: 13px 16px;

  .inline-textarea {
    display: inline;
  }
}

.control {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  &__error {
    padding-left: 2px;

    @apply font-bold;
  }
}

.field-grouped {
  margin-bottom: 15px;
  > .control {
    margin-bottom: 0;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}
