.input,
.textarea {
  @apply border border-solid w-full;
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;

  &::placeholder,
  &::-ms-input-placeholder,
  &:-ms-input-placeholder {
    @apply text-black;
  }

  &:hover {
    @apply border-gray-500;
  }

  &:active,
  &:focus {
    @apply outline-none;
  }

  &[disabled] {
    @apply cursor-not-allowed;
  }
}

.form-container {
  @apply relative overflow-hidden;

  &__status {
    @apply flex items-center justify-center absolute z-10 w-full h-full opacity-0;
    transform: translateY(100%);
    transition: opacity 0.4s ease, transform 0.4s ease;

    h1 {
      @apply m-0 text-center;
    }

    &--active {
      @apply opacity-100;
      transform: translateY(0);
    }
  }
}

.label {
  @apply font-bold text-base mb-2 pl-1;
}

.input {
  @apply appearance-none px-5 py-3 shadow-none;
  line-height: 20px;
  height: 48px;

  .inline-input {
    @apply inline;
  }
}

.textarea {
  @apply block min-w-full resize-y px-5 py-3;
  min-height: 200px;

  .inline-textarea {
    @apply inline;
  }
}

.control {
  @apply flex flex-col mb-4;
  &__error {
    @apply font-bold pl-1;
  }
}

.field-grouped {
  @apply mb-4;
  > .control {
    @apply mb-0;
    &:not(:last-child) {
      @apply mb-2;
    }
  }
}
