@import '../abstracts/include';

.wrapper {
  max-width: $main-wrapper-width;
  min-height: calc(100vh - 73px);
  position: relative;
  margin: 0 auto;
  overflow: hidden;

  @media screen and (min-width: 2020px) {
    margin-bottom: 100px;
  }
}
