html {
  @apply text-base;
}

body {
  font-size: 1rem;
}

body,
button,
input,
select,
textarea {
  @apply text-base;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title-1,
.title-2,
.title-3,
.title-4,
.title-5,
.title-6 {
  clear: both;
}

h1,
.title-1 {
  @apply text-h1;
}

h2,
.title-2 {
  @apply text-h2;
}

h3,
.title-3,
blockquote {
  @apply text-h3;
}

h4,
.title-4 {
  @apply text-h4;
}

h5,
.title-5 {
  @apply text-h5;
}

h6,
.title-6 {
  @apply text-h6;
}
